<div class="properties-listing spacer">
  <a href="buysalerent.php" class="pull-right viewall">View All Listing</a>
  <h2>Featured Properties</h2>
  <div id="owl-example" class="owl-carousel">
    <div class="properties">
      <div class="image-holder">
        <img
          src="assets/img/properties/1.jpg"
          class="img-responsive"
          alt="properties"
        />
        <div class="status sold">Sold</div>
      </div>
      <h4><a href="property-detail.php">Royal Inn</a></h4>
      <p class="price">Price: $234,900</p>
      <div class="listing-detail">
        <span
          data-toggle="tooltip"
          data-placement="bottom"
          data-original-title="Bed Room"
          >5</span
        >
        <span
          data-toggle="tooltip"
          data-placement="bottom"
          data-original-title="Living Room"
          >2</span
        >
        <span
          data-toggle="tooltip"
          data-placement="bottom"
          data-original-title="Parking"
          >2</span
        >
        <span
          data-toggle="tooltip"
          data-placement="bottom"
          data-original-title="Kitchen"
          >1</span
        >
      </div>
      <a class="btn btn-primary" href="property-detail.php">View Details</a>
    </div>
  </div>
</div>
