<!-- Carousel items -->
<div class="carousel-inner">
  <div class="item active">
    <div class="row">
      <div class="col-lg-4">
        <img
          src="assets/img/properties/tiny-house-1.jpg"
          class="img-responsive"
          alt="properties"
        />
      </div>
      <div class="col-lg-8">
        <h5>
          <a href="property-detail.php">Integer sed porta quam</a>
        </h5>
        <p class="price">$300,000</p>
        <a href="property-detail.php" class="more">More Detail</a>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="row">
      <div class="col-lg-4">
        <img
          src="assets/img/properties/tiny-house-2.jpg"
          class="img-responsive"
          alt="properties"
        />
      </div>
      <div class="col-lg-8">
        <h5>
          <a href="property-detail.php">Integer sed porta quam</a>
        </h5>
        <p class="price">$300,000</p>
        <a href="property-detail.php" class="more">More Detail</a>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="row">
      <div class="col-lg-4">
        <img
          src="assets/img/properties/tiny-house-3.jpg"
          class="img-responsive"
          alt="properties"
        />
      </div>
      <div class="col-lg-8">
        <h5>
          <a href="property-detail.php">Integer sed porta quam</a>
        </h5>
        <p class="price">$300,000</p>
        <a href="property-detail.php" class="more">More Detail</a>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="row">
      <div class="col-lg-4">
        <img
          src="assets/img/properties/tiny-house-4.jpg"
          class="img-responsive"
          alt="properties"
        />
      </div>
      <div class="col-lg-8">
        <h5>
          <a href="property-detail.php">Integer sed porta quam</a>
        </h5>
        <p class="price">$300,000</p>
        <a href="property-detail.php" class="more">More Detail</a>
      </div>
    </div>
  </div>
</div>
