<div class="banner-search">
  <div class="container">
    <!-- banner search-->
    <h3>Looking for something ?</h3>
    <!-- search area-->

    <!-- here partial view from properties-->


    <!-- search area-->
    
        <div class="col-lg-5 col-lg-offset-1 col-sm-6">
          <p>Join now and get updated with all the properties deals.</p>
          <button
            class="btn btn-info"
            data-toggle="modal"
            data-target="#loginpop"
          >
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- banner -->
