<div class="banner-search">
  <div class="container">
    <!-- banner -->
    <h3>Looking for something ?</h3>
    <div class="searchbar">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <input
            type="text"
            class="form-control"
            placeholder="Search of Properties"
          />
          <div class="row">
            <div class="col-lg-3 col-sm-3">
              <select class="form-control">
                <option>Capacity</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
            <div class="col-lg-3 col-sm-4">
              <select class="form-control">
                <option>City</option>
                {% for city in cities %}
                <option>{{ city.cityName }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-lg-3 col-sm-4">
              <select class="form-control">
                <option>Country</option>
                {% for country in countries %}
                <option>{{ country.countryName }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-lg-3 col-sm-4">
              <button
                class="btn btn-success"
                onclick="window.location.href='buysalerent.php'"
              >
                Find Now
              </button>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-lg-offset-1 col-sm-6">
          <p>Join now and get updated with all the properties deals.</p>
          <button
            class="btn btn-info"
            data-toggle="modal"
            data-target="#loginpop"
          >
            Login
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- banner -->
