<div class="banner-search">
  <div class="container">
    <!-- banner search-->
    <h3>Looking for something ?</h3>
    <!-- search area-->

    <!-- here partial view from properties-->
    {#
    {{
      render(controller("App\\Controller\\PropertiesController::properties"))
    }}
    #}

    <!-- search area-->
  </div>
</div>
<!-- banner -->
